html
{
    color: #2A2630;
    text-align: center;
}

.navbar-default {

    background-color: rgba(255, 110, 110, 0.71);
    border:none;
}

.row {
    background-color: transparent;
}
body {
    font-family: 'Lato', sans-serif;
    background-position: right bottom; /*Positioning*/
    /*background-attachment:fixed;#F7A0A0;*/
    background-repeat: no-repeat;
    background-color: #F7A0A0;
    padding:20px 0px 50px 0px;
    color:#9A0202;
}


h1 {
    padding-top: 50px;
    color: rgb(247, 180, 180);
    font-weight: bolder;
    font-size: 64px;
    margin-top:0px;
}
h3 {
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 0px 20px 0px 20px;
    color: #D44343;
    font-weight: bold;
}

.language-header {
    color: #D44A4A;
    margin-bottom: 5px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.pois {
    marign:0 auto;
}

.row-centered {
    text-align:center;

}

p {
    color: #9A0202;

}

a {
    font-weight: bolder;
    font-weight: 900;
    color:#4074A0;
}


.year {

    border-bottom: 3px solid rgb(247, 180, 180);
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.resource {
    width: 450px;
    height: 253px;

}

.email {
    padding-top:0;
    font-size:15px;
}


@media screen and (max-width: 1420px)  {
    .resource {
        width: 350px;
        height: 199px;
    }

}

@media screen and (max-width: 1120px)  {
    .resource {
        width: 300px;
        height: 170px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

}

@media screen and (max-width: 990px)  {

    .resource {
        width: 600px;
        height: 338px;
    }


}

@media screen and (max-width: 700px)  {
    .resource {
        width: 450px;
        height: 253px;
    }

}

@media screen and (max-width: 550px)  {
    .resource {
        width: 350px;
        height: 199px;
    }

}


@media screen and (max-width: 450px) {
    .resource {
        width: 300px;
        height: 170px;

    }
}

.bolder {
    font-weight: bold;
}

nav {
    padding: 0px auto;

}

.contact-me {
    text-align: center;
    padding: 20px 30px 30px 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-me h1 {
    padding-bottom: 50px;
}

.main-item{

    font-weight: 400;
    background: rgba(193, 15, 15, 0.64);
    border-radius: 7px;
    padding: 10px;
    margin: 10px auto;
    color: white;
    max-width: 150px;

}


.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#D44A4A;
}
.navbar-default .navbar-brand{
    color:#D44A4A;
}







